extends layout

block content
  div.mainSection
    h1 Edit API Details
    form(action="/edit/"+apiDetails.id method="POST")
      if apiError
        div.error= apiError
      div
        label.newAPIFormElement(for="apiName") Name : 
        input.newAPIFormElement(type="text" name="apiName" id="apiName" value=apiDetails.api_name)
      div
        label.newAPIFormElement(for="apiOwner") Owner : 
        input.newAPIFormElement(type="text" name="apiOwner" id="apiOwner" value=apiDetails.api_owner)
      div
        label.newAPIFormElement(for="apiPath") Path : 
        input.newAPIFormElement(type="text" name="apiPath" id="apiPath" value=apiDetails.api_path)
      div
        label.newAPIFormElement(for="apiToken") Token : 
        input.newAPIFormElement(type="text" name="apiToken" id="apiToken" value=apiDetails.api_token)
      div
        label.newAPIFormElement(for="apiDesc") Description :
        textarea.newAPIFormElement(id="apiDesc" name="apiDesc")= apiDetails.api_desc
      div
        input.newAPIFormElement(type="submit" value="Save Details")
        
