extends layout

block content
  div.mainSection
    h1 Add a New API
    form(action="/" method="POST")
      if apiError
        div.error= apiError
        div
          label.newAPIFormElement(for="apiName") Name : 
          input.newAPIFormElement(type="text" name="apiName" id="apiName" value=apiDetails.apiName)
        div
          label.newAPIFormElement(for="apiOwner") Owner : 
          input.newAPIFormElement(type="text" name="apiOwner" id="apiOwner" value=apiDetails.apiOwner)
        div
          label.newAPIFormElement(for="apiPath") Path : 
          input.newAPIFormElement(type="text" name="apiPath" id="apiPath" value=apiDetails.apiPath)
        div
          label.newAPIFormElement(for="apiToken") Token : 
          input.newAPIFormElement(type="text" name="apiToken" id="apiToken" value=apiDetails.apiToken)
        div
          label.newAPIFormElement(for="apiDesc") Description :
          textarea.newAPIFormElement(id="apiDesc" name="apiDesc" value=apiDetails.apiDesc)
        div
          input.newAPIFormElement(type="submit" value="Add New API")
      else
        div
          label.newAPIFormElement(for="apiName") Name : 
          input.newAPIFormElement(type="text" name="apiName" id="apiName")
        div
          label.newAPIFormElement(for="apiOwner") Owner : 
          input.newAPIFormElement(type="text" name="apiOwner" id="apiOwner")
        div
          label.newAPIFormElement(for="apiPath") Path : 
          input.newAPIFormElement(type="text" name="apiPath" id="apiPath")
        div
          label.newAPIFormElement(for="apiToken") Token : 
          input.newAPIFormElement(type="text" name="apiToken" id="apiToken")
        div
          label.newAPIFormElement(for="apiDesc") Description :
          textarea.newAPIFormElement(id="apiDesc" name="apiDesc")
        div
          input.newAPIFormElement(type="submit" value="Add New API")
        
